<launch>
    <include file="$(find RTassignment3)/launch/simulation_gmapping.launch"/>
    <include file="$(find RTassignment3)/launch/move_base.launch"/>
    <node pkg="RTassignment3" type="menu" name="menu" output="screen" required="true" launch-prefix="xterm -fa 'Monospace' -fs 11 -e"/>
</launch>
